.container {
  box-sizing: border-box;
  width: 375px;
  height: 812px;
  background-color: #1E1E1E;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.header a {
  color: white;
}

.content {
  margin-top: 66px;
}

.fb-icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.MuiButton-label {
  display: flex !important;
  align-items: center !important;
}

.MuiInputBase-root {
  color: white !important;
  font-weight: 200 !important;
  font-size: 14px !important;
}

.MuiFormHelperText-root {
  color: red !important;
  font-weight: 100 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.5) !important;
}

.MuiFormControl-marginNormal {
  margin: 0 !important;
  margin-bottom: 10px !important;
}

.description {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 100;
  font-size: 15px;
}

.description span {
  text-decoration: underline;
}

.description a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
}

.divider {
  width: 100%;
  height: 0;
  position: relative;
  margin-bottom: 29px;
  margin-top: 9px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.divider span {
  position: absolute;
  display: block;
  top: -10px;
  background-color: #1E1E1E;
  left: calc(50% - 15px);
  padding: 0px 10px;
}

.MuiFormHelperText-password {
  margin: 0px 0px 10px 12px;
  float: left;
  display: none;
  color: grey;
  font-size: 0.75rem;
  min-height: 1em;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1em;
  letter-spacing: 0.03333em;
  align-self: flex-start;
}

.active {
  display: block;
}

.no-margin {
  margin: 0;
}